*{margin:0;padding:0}
*{box-sizing: border-box;}
.window{
    height: 300px;
    width: 400px;
    margin: 20px auto;
    overflow: hidden;
}
.images{
    display: flex;
    position: relative;
    transition: all 1s;
}
.images > img{
    width: 100%;
}
#previous{
    border:0px;
    background-color:transparent;
    position: relative;
    left: 390px;
    top: -258px;
    outline: none;

}
#next{
    border:0px;
    background-color:transparent;
    position: relative;
    top: -258px;
    left: 725px;
    outline: none;

}
#buttonWrapper{
    position: relative;
    text-align: center;
    top: -190px;
}
#buttonWrapper > button{
    border:0px;
    background-color:transparent;
    outline: none;
}